@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}




@layer components {
  .box-shadow{
    box-shadow: 1px 1px 2px 2px ;
  }
}